public {{if .Abstraction}}{{.Abstraction}} {{end}}class {{.ClassName}}
{{- if .Inherits}} extends {{.Inherits}}{{end}}
{{- if .Implements}} implements {{join .Implements ", "}}{{end}} {
    {{- range .Attributes}}
    {{.AccessModifier}} {{.Type}} {{.Name}};
    {{- end}}

    // Default constructor
    public {{.ClassName}}() {
        {{- range .Attributes}}
        {{- if not .ClassVariable}}
        this.{{.Name}} = {{defaultZero .Type}};
        {{- end}}
        {{- end}}
    }

    // Parameterized constructor
    public {{.ClassName}}({{range $index, $element := .Attributes}}
        {{- if not $element.ClassVariable}}{{if $index}}, {{end}}{{.Type}} {{.Name}}{{end}}
    {{- end}}) {
        {{- range .Attributes}}
        {{- if not .ClassVariable}}
        this.{{.Name}} = {{.Name}};
        {{- end}}
        {{- end}}
    }

    {{- range .Methods}}
    {{.AccessModifier}} {{.Type}} {{.Name}}({{range $index, $param := .Parameters}}
        {{- if $index}}, {{end}}{{.Type}} {{.Name}}{{end}}) {
        {{.Body}}
    }
    {{- end}}
}
