public class {{.ClassName}} {
    {{- range .Fields }}
    private {{.Type}} {{.Name}};
    {{- end }}

    // Standardkonstruktor
    public {{.ClassName}}() {
        {{- range .Fields }}
        this.{{.Name}} = {{defaultZero .Type}};
        {{- end }}
    }

    // Konstruktor mit allen Parametern
    public {{.ClassName}}({{range $index, $field := .Fields}}{{if $index}}, {{end}}{{$field.Type}} {{$field.Name}}{{end}}) {
        {{- range .Fields }}
        this.{{.Name}} = {{.Name}};
        {{- end }}
    }

    // Gette
    {{- range .Fields }}
    public {{.Type}} get{{title .Name}}() {
        return {{.Name}};
    }
    //Setter
    public void set{{title .Name}}({{.Type}} {{.Name}}) {
        this.{{.Name}} = {{.Name}};
    }
    {{- end }}
}
