public class {{.ClassName}} {
    {{- range .Attributes }}
    {{.AccessModifier}}{{if .ClassVariable}} static{{end}}{{if .Constant}} final{{end}} {{.Type}} {{.Name}};
    {{- end }}

    // Standardkonstruktor
    public {{.ClassName}}() {
        {{- range .Attributes }}
        {{- if and (not .ClassVariable) (not .Constant)}}
        this.{{.Name}} = {{defaultZero .Type}};
        {{- end}}
        {{- end }}
    }

    // Konstruktor mit allen Parametern
    public {{.ClassName}}({{range $index, $field := .Attributes}}{{if and (not .ClassVariable) (not .Constant) }}, {{end}} {{- if and (not .ClassVariable) (not .Constant) }}{{$field.Type}} {{$field.Name}}{{end}}{{end}}) {
        {{- range .Attributes }}
        {{- if and (not .ClassVariable) (not .Constant) }}
        this.{{.Name}} = {{.Name}};
        {{- end}}
        {{- end }}
    }

    {{- range .Attributes }}
    {{- if and (eq .AccessModifier "public") (not .ClassVariable) (not .Constant) }}
    // Getter {{.Name}}
    public {{.Type}} get{{title .Name}}() {
        return {{.Name}};
    }
    // Setter {{.Name}}
    public void set{{title .Name}}({{.Type}} {{.Name}}) {
        this.{{.Name}} = {{.Name}};
    }
    {{end}}
    {{- end }}
}
