public interface {{.InterfaceName}}
{{- if .Inherits}} extends {{join .Inherits ", "}}{{end}} {
    {{- range .Methods}}
    {{.AccessModifier}} {{.Type}} {{.Name}}({{range $index, $param := .Parameters}}
        {{- if $index}}, {{end}}{{.Type}} {{.Name}}{{end}});
    {{- end}}
}
